<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
	Order Allow,Deny
	Deny from all
</FilesMatch>

RewriteEngine on

RewriteRule ^([a-zA-Z0-9\-\_\/]*)$ index.html [L]

Options -MultiViews
Options -Indexes
